In [1]:
import csv
import sqlite3

input_file = './data/data_for_updating.csv'

In [2]:
con = sqlite3.connect(':memory:')

query = """
CREATE TABLE IF NOT EXISTS sales(
    customer VARCHAR(20),
    product VARCHAR(40),
    amount FLOAT,
    date DATE
);"""

con.execute(query)

con.commit()

In [3]:
data = [
    ('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
    ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
    ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
    ('Stephen Randolph', 'Computer', 679.40, '2014-02-20'),
]

statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [6]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')

header = next(file_reader, None)

for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute("UPDATE sales SET amount=?, date=? WHERE customer=?;", data)
con.commit()

['4.25', '5/11/2014', 'Richard Lucas']
['6.75', '5/12/2014', 'Jenny Kim']

In [7]:
cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()

for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

['Richard Lucas', 'Notepad', '4.25', '5/11/2014']
['Jenny Kim', 'Binder', '6.75', '5/12/2014']
['Svetlana Crow', 'Printer', '155.75', '2014-02-03']
['Stephen Randolph', 'Computer', '679.4', '2014-02-20']