In [1]:
import csv
import MySQLdb
from datetime import datetime, date

In [2]:
input_file = './data/supplier_data.csv'

In [3]:
con = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', user='root')
c = con.cursor()

In [9]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')

header = next(file_reader)

for row in file_reader:
    data = []
    for column_index in range(len(header)):
        if column_index < 4:
            data.append(str(row[column_index]).lstrip('$').replace(',', '').strip())
        else:
            a_date = datetime.date(datetime.strptime(str(row[column_index]), '%m/%d/%y'))
            a_date = a_date.strftime('%Y-%m-%d')
            data.append(a_date)
    print(data)
    c.execute("INSERT INTO Suppliers VALUES (%s, %s, %s, %s, %s);", data)
con.commit()
print('')

['Supplier X', '001-1001', '2341', '500.00', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.00', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.00', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.00', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.00', '2014-02-03']
['Supplier Y', '50-9505', '6650', '125.00', '2014-02-03']
['Supplier Z', '920-4803', '3321', '615.00', '2014-02-03']
['Supplier Z', '920-4804', '3321', '615.00', '2014-02-10']
['Supplier Z', '920-4805', '3321', '615.00', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.00', '2014-02-24']

In [10]:
c.execute("SELECT * FROM Suppliers")
rows = c.fetchall()

for row in rows:
    row_list_output = []
    for column_index in range(len(row)):
        row_list_output.append(str(row[column_index]))
    print(row_list_output)

['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-03']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-03']
['Supplier Z', '920-4803', '3321', '615.0', '2014-02-03']
['Supplier Z', '920-4804', '3321', '615.0', '2014-02-10']
['Supplier Z', '920-4805', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.0', '2014-02-24']