In [1]:
import csv
import MySQLdb

output_file = './output_files/02-2 output.csv'

In [2]:
con = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', user='root')
c = con.cursor()

In [11]:
with open(output_file, 'w', newline='') as csv_out_file:
    filewriter = csv.writer(csv_out_file, delimiter=',')
    header = ['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
    filewriter.writerow(header)

    c.execute("SELECT * FROM Suppliers WHERE Cost > 700.0;")

    rows = c.fetchall()
    for row in rows:
        print(row)
        filewriter.writerow(row)

('Supplier X', '001-1001', '5467', 750.0, datetime.date(2014, 1, 20))
('Supplier X', '001-1001', '5467', 750.0, datetime.date(2014, 1, 20))