[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://bit.ly/open-data-01-apt-price-input)

# 전국 신규 민간 아파트 분양가격 동향

2013년부터 최근까지 부동산 가격 변동 추세가 아파트 분양가에도 반영될까요? 공공데이터 포털에 있는 데이터를 Pandas 의 melt, concat, pivot, transpose 와 같은 reshape 기능을 활용해 분석해 봅니다. 그리고 groupby, pivot_table, info, describe, value_counts 등을 통한 데이터 요약과 분석을 해봅니다. 이를 통해 전혀 다른 형태의 두 데이터를 가져와 정제하고 병합하는 과정을 다루는 방법을 알게 됩니다. 전처리 한 결과에 대해 수치형, 범주형 데이터의 차이를 이해하고 다양한 그래프로 시각화를 할 수 있게 됩니다.


## 다루는 내용
* 공공데이터를 활용해 전혀 다른 두 개의 데이터를 가져와서 전처리 하고 병합하기
* 수치형 데이터와 범주형 데이터를 바라보는 시각을 기르기
* 데이터의 형식에 따른 다양한 시각화 방법 이해하기

## 실습
* 공공데이터 다운로드 후 주피터 노트북으로 로드하기
* 판다스를 통해 데이터를 요약하고 분석하기
* 데이터 전처리와 병합하기
* 수치형 데이터와 범주형 데이터 다루기
* 막대그래프(bar plot), 선그래프(line plot), 산포도(scatter plot), 상관관계(lm plot), 히트맵, 상자수염그림, swarm plot, 도수분포표, 히스토그램(distplot) 실습하기

## 데이터셋
* 다운로드 위치 : https://www.data.go.kr/dataset/3035522/fileData.do

### 전국 평균 분양가격(2013년 9월부터 2015년 8월까지)
* 전국 공동주택의 3.3제곱미터당 평균분양가격 데이터를 제공

###  주택도시보증공사_전국 평균 분양가격(2019년 12월)
* 전국 공동주택의 연도별, 월별, 전용면적별 제곱미터당 평균분양가격 데이터를 제공
* 지역별 평균값은 단순 산술평균값이 아닌 가중평균값임

## 데이터 로드
### 최근 파일 로드
공공데이터 포털에서 "주택도시보증공사_전국 평균 분양가격"파일을 다운로드 받아 불러옵니다.
이 때, 인코딩을 설정을 해주어야 한글이 깨지지 않습니다.
보통 엑셀로 저장된 한글의 인코딩은 cp949 혹은 euc-kr로 되어 있습니다.
df_last 라는 변수에 최근 분양가 파일을 다운로드 받아 로드합니다.

* 한글인코딩 : [‘설믜를 설믜라 못 부르는’ 김설믜씨 “제 이름을 지켜주세요” : 사회일반 : 사회 : 뉴스 : 한겨레](http://www.hani.co.kr/arti/society/society_general/864914.html)

데이터를 로드한 뒤 shape를 통해 행과 열의 갯수를 출력합니다.

In [1]:
import pandas as pd

In [2]:
# 최근 분양가 파일을 로드해서 df_last 라는 변수에 담습니다.
# 파일로드시 OSError가 발생한다면, engine="python"을 추가해 보세요.

df_last = pd.read_csv('data/주택도시보증공사_전국 평균 분양가격(2019년 12월).csv', encoding='cp949')
df_last.shape

(4335, 5)

In [3]:
df_last.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [4]:
df_last.tail()

     지역명               규모구분    연도   월 분양가격(㎡)
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

### 2015년 부터 최근까지의 데이터 로드
전국 평균 분양가격(2013년 9월부터 2015년 8월까지) 파일을 불러옵니다.
df_first 라는 변수에 담고 shape로 행과 열의 갯수를 출력합니다.

In [5]:
df_first = pd.read_csv('data/전국 평균 분양가격(2013년 9월부터 2015년 8월까지).csv', encoding='cp949')
df_first.shape

(17, 22)

In [6]:
df_first.head()

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,부산,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581
2,대구,8080,8080,8077,8101,8267,8274,8360,8360,8370,...,8439,8253,8327,8416,8441,8446,8568,8542,8542,8795
3,인천,10204,10204,10408,10408,10000,9844,10058,9974,9973,...,10020,10020,10017,9876,9876,9938,10551,10443,10443,10449
4,광주,6098,7326,7611,7346,7346,7523,7659,7612,7622,...,7752,7748,7752,7756,7861,7914,7877,7881,8089,8231

In [7]:
df_first.tail()

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
12,전북,6282,6281,5946,5966,6277,6306,6351,6319,6436,...,6583,6583,6583,6583,6542,6551,6556,6601,6750,6580
13,전남,5678,5678,5678,5696,5736,5656,5609,5780,5685,...,5768,5784,5784,5833,5825,5940,6050,6243,6286,6289
14,경북,6168,6168,6234,6317,6412,6409,6554,6556,6563,...,6881,6989,6992,6953,6997,7006,6966,6887,7035,7037
15,경남,6473,6485,6502,6610,6599,6610,6615,6613,6606,...,7125,7332,7592,7588,7668,7683,7717,7715,7723,7665
16,제주,7674,7900,7900,7900,7900,7900,7914,7914,7914,...,7724,7739,7739,7739,7826,7285,7285,7343,7343,7343

### 데이터 요약하기

In [8]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
지역명        4335 non-null object
규모구분       4335 non-null object
연도         4335 non-null int64
월          4335 non-null int64
분양가격(㎡)    4058 non-null object
dtypes: int64(2), object(3)
memory usage: 169.4+ KB

### 결측치 보기

isnull 혹은 isna 를 통해 데이터가 비어있는지를 확인할 수 있습니다.
결측치는 True로 표시되는데, True == 1 이기 때문에 이 값을 다 더해주면 결측치의 수가 됩니다.

In [9]:
# isnull 을 통해 결측치를 봅니다.

df_last.isnull()

        지역명   규모구분     연도      월  분양가격(㎡)
0     False  False  False  False    False
1     False  False  False  False    False
2     False  False  False  False    False
3     False  False  False  False    False
4     False  False  False  False    False
5     False  False  False  False    False
6     False  False  False  False    False
7     False  False  False  False    False
8     False  False  False  False    False
9     False  False  False  False    False
10    False  False  False  False    False
11    False  False  False  False    False
12    False  False  False  False    False
13    False  False  False  False    False
14    False  False  False  False    False
15    False  False  False  False    False
16    False  False  False  False    False
17    False  False  False  False    False
18    False  False  False  False    False
19    False  False  False  False    False
20    False  False  False  False    False
21    False  False  False  False    False
22    False  False  False  False    False
23    False  False  False  False    False
24    False  False  False  False    False
25    False  False  False  False    False
26    False  False  False  False    False
27    False  False  False  False    False
28    False  False  False  False    False
29    False  False  False  False    False
...     ...    ...    ...    ...      ...
4305  False  False  False  False    False
4306  False  False  False  False    False
4307  False  False  False  False    False
4308  False  False  False  False    False
4309  False  False  False  False    False
4310  False  False  False  False    False
4311  False  False  False  False    False
4312  False  False  False  False    False
4313  False  False  False  False    False
4314  False  False  False  False    False
4315  False  False  False  False    False
4316  False  False  False  False    False
4317  False  False  False  False    False
4318  False  False  False  False     True
4319  False  False  False  False    False
4320  False  False  False  False    False
4321  False  False  False  False    False
4322  False  False  False  False    False
4323  False  False  False  False    False
4324  False  False  False  False    False
4325  False  False  False  False    False
4326  False  False  False  False    False
4327  False  False  False  False    False
4328  False  False  False  False    False
4329  False  False  False  False     True
4330  False  False  False  False    False
4331  False  False  False  False     True
4332  False  False  False  False    False
4333  False  False  False  False     True
4334  False  False  False  False    False

[4335 rows x 5 columns]

In [10]:
# isnull 을 통해 결측치를 구합니다.

df_last.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

### 데이터 타입 변경
분양가격이 object(문자) 타입으로 되어 있습니다. 문자열 타입을 계산할 수 없기 때문에 수치 데이터로 변경해 줍니다. 결측치가 섞여 있을 때 변환이 제대로 되지 않습니다. 그래서 pd.to_numeric 을 통해 데이터의 타입을 변경합니다.

In [11]:
df_last["분양가격"] = pd.to_numeric(df_last[u'분양가격(㎡)'], errors='coerce')
df_last["분양가격"].max()

12728.0

### 평당분양가격 구하기
공공데이터포털에 올라와 있는 2013년부터의 데이터는 평당분양가격 기준으로 되어 있습니다.
분양가격을 평당기준으로 보기위해 3.3을 곱해서 "평당분양가격" 컬럼을 만들어 추가해 줍니다.

In [12]:
df_last["평당분양가격"] = df_last["분양가격"] * 3.3
df_last

     지역명               규모구분    연도   월 분양가격(㎡)    분양가격   평당분양가격
0     서울                 전체  2015  10    5841  5841.0  19275.3
1     서울         전용면적 60㎡이하  2015  10    5652  5652.0  18651.6
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882  5882.0  19410.6
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721  5721.0  18879.3
4     서울        전용면적 102㎡초과  2015  10    5879  5879.0  19400.7
5     인천                 전체  2015  10    3163  3163.0  10437.9
6     인천         전용면적 60㎡이하  2015  10    3488  3488.0  11510.4
7     인천   전용면적 60㎡초과 85㎡이하  2015  10    3119  3119.0  10292.7
8     인천  전용면적 85㎡초과 102㎡이하  2015  10    3545  3545.0  11698.5
9     인천        전용면적 102㎡초과  2015  10    3408  3408.0  11246.4
10    경기                 전체  2015  10    3138  3138.0  10355.4
11    경기         전용면적 60㎡이하  2015  10    3126  3126.0  10315.8
12    경기   전용면적 60㎡초과 85㎡이하  2015  10    3239  3239.0  10688.7
13    경기  전용면적 85㎡초과 102㎡이하  2015  10    3496  3496.0  11536.8
14    경기        전용면적 102㎡초과  2015  10    3680  3680.0  12144.0
15    부산                 전체  2015  10    3112  3112.0  10269.6
16    부산         전용면적 60㎡이하  2015  10    2950  2950.0   9735.0
17    부산   전용면적 60㎡초과 85㎡이하  2015  10    2999  2999.0   9896.7
18    부산  전용면적 85㎡초과 102㎡이하  2015  10    2957  2957.0   9758.1
19    부산        전용면적 102㎡초과  2015  10    3500  3500.0  11550.0
20    대구                 전체  2015  10    2682  2682.0   8850.6
21    대구         전용면적 60㎡이하  2015  10    2614  2614.0   8626.2
22    대구   전용면적 60㎡초과 85㎡이하  2015  10    2696  2696.0   8896.8
23    대구  전용면적 85㎡초과 102㎡이하  2015  10    2557  2557.0   8438.1
24    대구        전용면적 102㎡초과  2015  10    2598  2598.0   8573.4
25    광주                 전체  2015  10    2420  2420.0   7986.0
26    광주         전용면적 60㎡이하  2015  10    2253  2253.0   7434.9
27    광주   전용면적 60㎡초과 85㎡이하  2015  10    2439  2439.0   8048.7
28    광주  전용면적 85㎡초과 102㎡이하  2015  10             NaN      NaN
29    광주        전용면적 102㎡초과  2015  10             NaN      NaN
...   ..                ...   ...  ..     ...     ...      ...
4305  충남                 전체  2019  12    2640  2640.0   8712.0
4306  충남         전용면적 60㎡이하  2019  12    2382  2382.0   7860.6
4307  충남   전용면적 60㎡초과 85㎡이하  2019  12    2666  2666.0   8797.8
4308  충남  전용면적 85㎡초과 102㎡이하  2019  12    3201  3201.0  10563.3
4309  충남        전용면적 102㎡초과  2019  12    2835  2835.0   9355.5
4310  전북                 전체  2019  12    2468  2468.0   8144.4
4311  전북         전용면적 60㎡이하  2019  12    2526  2526.0   8335.8
4312  전북   전용면적 60㎡초과 85㎡이하  2019  12    2458  2458.0   8111.4
4313  전북  전용면적 85㎡초과 102㎡이하  2019  12    2764  2764.0   9121.2
4314  전북        전용면적 102㎡초과  2019  12    2667  2667.0   8801.1
4315  전남                 전체  2019  12    2452  2452.0   8091.6
4316  전남         전용면적 60㎡이하  2019  12    2529  2529.0   8345.7
4317  전남   전용면적 60㎡초과 85㎡이하  2019  12    2452  2452.0   8091.6
4318  전남  전용면적 85㎡초과 102㎡이하  2019  12     NaN     NaN      NaN
4319  전남        전용면적 102㎡초과  2019  12    3053  3053.0  10074.9
4320  경북                 전체  2019  12    2914  2914.0   9616.2
4321  경북         전용면적 60㎡이하  2019  12    2578  2578.0   8507.4
4322  경북   전용면적 60㎡초과 85㎡이하  2019  12    2897  2897.0   9560.1
4323  경북  전용면적 85㎡초과 102㎡이하  2019  12    2604  2604.0   8593.2
4324  경북        전용면적 102㎡초과  2019  12    3457  3457.0  11408.1
4325  경남                 전체  2019  12    3063  3063.0  10107.9
4326  경남         전용면적 60㎡이하  2019  12    2780  2780.0   9174.0
4327  경남   전용면적 60㎡초과 85㎡이하  2019  12    3065  3065.0  10114.5
4328  경남  전용면적 85㎡초과 102㎡이하  2019  12    3247  3247.0  10715.1
4329  경남        전용면적 102㎡초과  2019  12     NaN     NaN      NaN
4330  제주                 전체  2019  12    3882  3882.0  12810.6
4331  제주         전용면적 60㎡이하  2019  12     NaN     NaN      NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898  3898.0  12863.4
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN     NaN      NaN
4334  제주        전용면적 102㎡초과  2019  12    3601  3601.0  11883.3

[4335 rows x 7 columns]

### 분양가격 요약하기

In [13]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 7 columns):
지역명        4335 non-null object
규모구분       4335 non-null object
연도         4335 non-null int64
월          4335 non-null int64
분양가격(㎡)    4058 non-null object
분양가격       3957 non-null float64
평당분양가격     3957 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 237.1+ KB

In [14]:
df_last[u'분양가격(㎡)'].describe()

count     4058
unique    1753
top       2221
freq        17
Name: 분양가격(㎡), dtype: object

In [15]:
df_last['분양가격'].describe()

count     3957.000000
mean      3238.128633
std       1264.309933
min       1868.000000
25%       2441.000000
50%       2874.000000
75%       3561.000000
max      12728.000000
Name: 분양가격, dtype: float64

In [16]:
df_last['평당분양가격'].describe()

count     3957.000000
mean     10685.824488
std       4172.222780
min       6164.400000
25%       8055.300000
50%       9484.200000
75%      11751.300000
max      42002.400000
Name: 평당분양가격, dtype: float64

### 규모구분을 전용면적 컬럼으로 변경
규모구분 컬럼은 전용면적에 대한 내용이 있습니다. 전용면적이라는 문구가 공통적으로 들어가고 규모구분보다는 전용면적이 좀 더 직관적이기 때문에 전용면적이라는 컬럼을 새로 만들어주고 기존 규모구분의 값에서 전용면적, 초과, 이하 등의 문구를 빼고 간결하게 만들어 봅니다.

이 때 str 의 replace 기능을 사용해서 예를들면 "전용면적 60㎡초과 85㎡이하"라면 "60㎡~85㎡" 로 변경해 줍니다.

* pandas 의 string-handling 기능을 좀 더 보고 싶다면 :
https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling

In [17]:
df_last['규모구분'].unique()

array(['전체', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

In [23]:
df_last['전용면적'] = df_last['규모구분'].str.replace("전용면적", "")
df_last['전용면적'] = df_last['전용면적'].str.replace("초과", "~")
df_last['전용면적'] = df_last['전용면적'].str.replace("이하", "")
df_last['전용면적'] = df_last['전용면적'].str.replace(" ", "").str.strip()
df_last['전용면적']

0             전체
1            60㎡
2        60㎡~85㎡
3       85㎡~102㎡
4          102㎡~
5             전체
6            60㎡
7        60㎡~85㎡
8       85㎡~102㎡
9          102㎡~
10            전체
11           60㎡
12       60㎡~85㎡
13      85㎡~102㎡
14         102㎡~
15            전체
16           60㎡
17       60㎡~85㎡
18      85㎡~102㎡
19         102㎡~
20            전체
21           60㎡
22       60㎡~85㎡
23      85㎡~102㎡
24         102㎡~
25            전체
26           60㎡
27       60㎡~85㎡
28      85㎡~102㎡
29         102㎡~
          ...
4305          전체
4306         60㎡
4307     60㎡~85㎡
4308    85㎡~102㎡
4309       102㎡~
4310          전체
4311         60㎡
4312     60㎡~85㎡
4313    85㎡~102㎡
4314       102㎡~
4315          전체
4316         60㎡
4317     60㎡~85㎡
4318    85㎡~102㎡
4319       102㎡~
4320          전체
4321         60㎡
4322     60㎡~85㎡
4323    85㎡~102㎡
4324       102㎡~
4325          전체
4326         60㎡
4327     60㎡~85㎡
4328    85㎡~102㎡
4329       102㎡~
4330          전체
4331         60㎡
4332     60㎡~85㎡
4333    85㎡~102㎡
4334       102㎡~
Name: 전용면적, Length: 4335, dtype: object

### 필요없는 컬럼 제거하기
drop을 통해 전처리 해준 컬럼을 제거합니다. pandas의 데이터프레임과 관련된 메소드에는 axis 옵션이 필요할 때가 있는데 행과 열중 어떤 기준으로 처리를 할 것인지를 의미합니다. 보통 기본적으로 0으로 되어 있고 행을 기준으로 처리함을 의미합니다. 메모리 사용량이 줄어들었는지 확인합니다.

In [24]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 8 columns):
지역명        4335 non-null object
규모구분       4335 non-null object
연도         4335 non-null int64
월          4335 non-null int64
분양가격(㎡)    4058 non-null object
분양가격       3957 non-null float64
평당분양가격     3957 non-null float64
전용면적       4335 non-null object
dtypes: float64(2), int64(2), object(4)
memory usage: 271.0+ KB

In [25]:
df_last = df_last.drop(["규모구분", "분양가격(㎡)"], axis=1)

In [26]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 6 columns):
지역명       4335 non-null object
연도        4335 non-null int64
월         4335 non-null int64
분양가격      3957 non-null float64
평당분양가격    3957 non-null float64
전용면적      4335 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 203.3+ KB