## 파이썬에서 텍스트 파일과 엑셀 파일 읽기 - pandas

In [3]:
import pandas as pd

In [4]:
CCTV_Seoul = pd.read_csv('./CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [6]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [7]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]: '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [10]:
pop_Seoul = pd.read_excel('./population_in_Seoul.xls', 
                          header=2,
                          usecols='B,D,G,J,N',
                          encoding='utf-8')
pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
pop_Seoul.rename(columns={pop_Seoul.columns[0]: '구별',
                         pop_Seoul.columns[1]: '인구수',
                         pop_Seoul.columns[2]: '한국인',
                         pop_Seoul.columns[3]: '외국인',
                         pop_Seoul.columns[4]: '고령자'}, inplace=True)